
/*SHARED STYLES-- these style attributes are shared across all the web pages--*/
.icons{
  width:50px;
  height:50px;
}
.icons:hover{
  opacity:0.5;
}
ul{
  margin-left: 850px;
  color:white;
  font-weight: bold;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
li{
  color: #738769;
  margin-top: 30px;
  display:inline;
  float:left;
  font-size: 20px;
  margin-left: 20px;
}
li:hover{
  opacity:0.5;
}
h1{
  font-size: 40px;
  float:left;
  background-color: #738769;
  color:white;
  padding:15px;
  padding-bottom: 17px;
  margin-left:60px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
h1:hover{
  background-color: white;
  color: #738769;
}
#content{
  float:left;
  background-image: url(images/bg-2.png);
  width:650px;
  margin-left: 60px;
  padding:20px;
  margin-top: 30px;
  margin-bottom: 50px;
}
h2{
  font-size: 35px;
  margin-bottom: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  color:#5d7054;
  font-weight: 500;
}
#connect{
  float:left;
  font-size: 30px;
  background-image: url(images/bg-2.png);
  margin-left: 100px;
  padding: 10px;
  margin-top: 30px;
  width:270px;
  text-align: center;
}
#foot{
  text-align: center;
  color:white;
  background-color: #435140;
  clear:both;
  padding-bottom: 10px;
}
#foot p{
  padding:30px;
  color:white;
}
hr {
    height: 4px;
    background-color: #738769;;
}
h3{
  color:#5d7054;
  font-weight: 500;
}
a{
  text-decoration: none;
}
#page {
  background-image: url(images/bg-3.png);
  width: 100%;
  overflow-y: hidden;
  margin-top: -10px;
  margin-bottom: -10px;
}

/*INDEX PAGE-- these style attributes are specific to the about page----------*/
#profile{
  width:200px;
  height:300px;
  float:left;
  margin:10px 30px 10px 30px;
}
p{
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#605f5f;
  margin:10px;
  line-height: 150%;
  font-size: 16px;
}
a:hover{
  opacity: 0.5;
}

/*PORTFOLIO-- these style attributes are specific to the portfolio page-------*/

#calc{
margin-left: 100px;
margin-top: 20px;
}
#calc:hover{
  opacity: 0.5;
}
#calc h3{
  font-size: 30px;
  background-color: #738769;
  height:30px;
  width:130px;
  padding: 20px;
  color:white;
  margin-left:-10px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#weather{
margin-left: 400px;
margin-bottom: 100px;
position: relative;
top: -70px;
}
#weather:hover{
  opacity: 0.5;
}
#weather h3{
  font-size: 30px;
  background-color: #738769;
  height:30px;
  width:180px;
  padding: 20px;
  color:white;
  margin-left:-40px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#wiki{
clear: both;
margin-left: 100px;
margin-top: 200px;
}
#wiki:hover{
  opacity: 0.5;
}
#wiki h3{
  font-size: 30px;
  background-color: #738769;
  height:30px;
  width:225px;
  padding: 20px;
  color:white;
  margin-left:-50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
#clock{
margin-left: 400px;
position: relative;
top: -70px;
}
#clock:hover{
  opacity: 0.5;
}
#clock h3{
  font-size: 30px;
  background-color: #738769;
  height:30px;
  width:225px;
  padding: 20px;
  color:white;
  margin-left:-50px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
.work{
  width:150px;
  height:150px;
  float:left;
  margin-top: 10px;
}

/*CONTACT- these style attributes are specific to the contact page-----------*/
#contact hr{
  height:3px;
  background-color: #738769;
}
.details{
  margin-left: 10px;
}
.submit{
  font-size: 20px;
  background-color: #738769;
  border:none;
  color:white;
  padding: 10px;
  margin: 10px;
}
.submit:hover{
  opacity: 0.5;
  cursor: pointer;
}
input{
  font-size: 15px;
}
.formHead{
  font-size: 20px;
}

/*------------------------------------------END--------------------------------*/
